{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block title %}Factbook | {{pays}}{% endblock %}

{% block content %}
<div class="bg-image" style="
    background-image: url('https://www.cia.gov/the-world-factbook/static/778a257ec6e116fbb7aac018c170b3eb/47498/wfb-feature-world.jpg');
    height: 450px; width:100%;overflow:hidden;margin-top: -300px;"></div>



<div class="container-fluid text-left div-home">
    <h1>Bienvenue sur l'application du Factbook!</h1>
    <p>Voici le lien vers le site officiel : <a
          href="https://www.cia.gov/the-world-factbook/">https://www.cia.gov/the-world-factbook/</a></p>

    <h2>Données du pays</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Capitale</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>1</td>
              <td><a href="{{ url_for('pays', nom='France') }}">France</a></td>
              <td>Paris</td>
              <td>Europe</td>
          </tr>
          <tr>
              <td>2</td>
              <td><a href="{{ url_for('pays', nom='États-Unis') }}">États-Unis</a></td>
              <td>Washington</td>
              <td>Amérique</td>
          </tr>
          <tr>
              <td>3</td>
              <td><a href="{{ url_for('pays', nom='Égypte') }}">Égypte</a></td>
              <td>Le Caire</td>
              <td>Afrique</td>
          </tr>
          <tr>
              <td>4</td>
              <td><a href="{{ url_for('pays', nom='Chine') }}">Chine</a></td>
              <td>Beijing</td>
              <td>Asie</td>
          </tr>
      </tbody>
    </table>
</div>
{% endblock %}
